<div class="sidebar-wrapper my-0 py-0">
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li>
          <img src="assets/images/logo2.png" alt="Logo" />
        </li>
        <li>
          <app-sidebar-links
            icon="home-svgrepo-com"
            [content]="Routes.HOME"
            [route]="Routes.HOME"
          ></app-sidebar-links>
        </li>

        <li>
          <app-sidebar-links
            icon="icon"
            [content]="Routes.ADMINISTRAZIONE"
            [route]="Routes.ADMINISTRAZIONE"
          ></app-sidebar-links>
        </li>
        <li>
          <app-sidebar-links
            icon="icon"
            content="Il Mio Percorso"
            [route]="Routes.ILMIOMODELLO"
          ></app-sidebar-links>
        </li>
        <li>
          <app-sidebar-links
            icon="icon"
            content="I Miei Modelli 106"
            [route]="Routes.ILMIOMODELLO"
          ></app-sidebar-links>
        </li>
        <li>
          <app-sidebar-links
            icon="icon"
            content="Gestisci Modelli"
            [route]="Routes.GESTISCIMODELLI"
          ></app-sidebar-links>
        </li>
        <li>
          <app-sidebar-links
            icon="icon"
            [content]="Routes.DELEGHE"
            [route]="Routes.DELEGHE"
          ></app-sidebar-links>
        </li>
      </ul>
    </div>
  </div>
</div>
