<header class="bg-primary">
  <div
    class="container-fluid px-5 d-flex justify-content-between align-items-center"
  >
    <img src="assets/images/logo-header.png" alt="Logo" />
    <div class="avatar-wrapper avatar-extra-text mb-0">
      <div class="extra-text pe-2">
        <p class="text-white">Conducente</p>
        <a class="text-white" href="#">Mario Rossi</a>
      </div>
      <div class="avatar size-lg">
        <img
          src="https://randomuser.me/api/portraits/men/33.jpg"
          alt=""
          aria-hidden="true"
        />
      </div>
      <svg class="icon icon-white">
        <use
          href="/bootstrap-italia/dist/svg/sprites.svg#it-tool"
          xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-tool"
        ></use>
      </svg>
    </div>
  </div>
</header>
