<div class="modal fade" #mymodal tabindex="-1" role="dialog" id="exampleModal" aria-labelledby="exampleModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5 " id="exampleModalTitle">Intestazione modale</h2>
            </div>
            <!-- <div class="modal-body">
                <p>Font Titillium 16px. Leading 24px. omnis iste natus error.</p>
            </div> -->
            <ng-content></ng-content>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" data-bs-dismiss="modal" type="button">Chiudi modale</button>
            </div>
        </div>
    </div>
</div>