@import "bootstrap-italia/src/scss/custom/functions";
@import "bootstrap-italia/src/scss/custom/variables";
@import "bootstrap/scss/mixins/utilities/";




body {
  margin:0;
  padding: 0;
};



$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      25: .05,
      50: .5,
      75: .75,
      100: 1,
    )
  )
)
